<?xml version='1.0' encoding='utf-8'?>
<widget id="com.soaresexpress.app" version="1.0.0" xmlns="http://cordova.apache.org/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>Soares Express</name>
    
    <description>Sistema de Entregas Soares Express</description>
    
    <author email="seu-email@gmail.com" href="https://github.com">
        Soares
    </author>
    
    <content src="index.html" />
    
    <icon src="logo.png" />
    
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-navigation href="*" />
        <allow-intent href="*" />
        <preference name="StayInApp" value="false" />
        
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
    </platform>
    
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-opener2" />

</widget>
